{% extends 'base.html' %}

{% block body %}
    <div class="row mt-5">

        <div class="col-sm-6">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Guilherme Ferraz</h5>
                    <p class="card-text">Back-end. Construção da comunicação com o Bucket S3</p>
                    <a href="https://github.com/guilhermeslferraz" target="_blank" class="btn btn-primary">Perfil GitHub</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Silas Nascimento</h5>
                    <p class="card-text">Designer</p>
                    <a href="https://github.com/Syllas3" target="_blank" class="btn btn-primary">Perfil GitHub</a>
                </div>
            </div>
        </div>

    </div>

    <div class="row m-3">

        <div class="col-sm-6">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Allan Mota Melgaço</h5>
                    <p class="card-text">Back-end. Modelação do arquivo .PDF</p>
                    <a href="https://github.com/ALMelga" class="btn btn-primary" target="_blank">Perfil GitHub</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Yan Zampier</h5>
                    <p class="card-text">FullStack. Modelação de páginas e fomulário de geração de conta</p>
                    <a href="https://github.com/yanpzr" class="btn btn-primary" target="_blank">Perfil GitHub</a>
                </div>
            </div>
        </div>

    </div>

    <div class="row m-3">

        <div class="col-sm-6">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Lucas Rodrigues</h5>
                    <p class="card-text">Front-end. Toda a estruturação de layout, imagens, paleta de cores</p>
                    <a href="https://github.com/lucasrodriguescunha" class="btn btn-primary" target="_blank">Perfil GitHub</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Gerson f. ribeiro</h5>
                    <p class="card-text">FullStack. Banco de dados, validações de formulários, funções e rotas, comunicação Front-end e Back-end</p>
                    <a href="https://github.com/GersinComp" class="btn btn-primary" target="_blank">Perfil GitHub</a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}