{% extends 'base.html' %}
{% block body %}

    <div class="container">
        <div class="d-flex justify-content-center align-items-center mt-5">
            <div class="w-50 mx-auto">
                <div class="d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='logo.jpeg') }}" alt="LOGO" class="w-50">
                </div>
            </div>
        </div>

        <div class="card mt-5">
            <div class="card-body">
                <h5 class="card-title">Gerenciaddor de Recibos</h5>
                <h6 class="card-subtitle mb-2 text-muted">Nossa Proposta</h6>
                <p class="card-text">
                    Nosso Gerador de recibo preza pela facilidade de uso, uma plataforma simples porém funcional,
                    garantindo a segurança e a facilidade em localizar os arquivos gerados!
                </p>
            </div>
        </div>
    </div>

{% endblock %}
