{% extends 'base.html' %}

{% block table %}

    <div>
        <h1 class="text-center mt-2">SEUS RECIBOS</h1>
        <hr style="margin: 0; padding: 0">
        <div class="row mt-2">
            <div class="col-sm-10">
                <a href="{{ url_for('gerarRecibo') }}" style="text-decoration: none">
                    <button type="button" class="btn btn-outline-primary">
                        Gerar Recibo
                    </button>
                </a>
            </div>
            <div class="col-sm-1 mt-1">
                ORDENAR
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn" style="padding: 0" id="Order_by_Desc" onclick="orderRecibos('desc')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16"
                         style="width: 1.5rem; height: 1.5rem; text-decoration: none; margin: 0; padding: 0">
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0"/>
                    </svg>
                </button>

                <button type="button" class="btn" style="padding: 0" id="Order_by_Asc" onclick="orderRecibos('asc')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-arrow-up-square-fill"
                         style="width: 1.5rem; height: 1.5rem; text-decoration: none; margin: 0; padding: 0"
                         viewBox="0 0 16 16">
                        <path d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0"/>
                    </svg>
                </button>
            </div>
        </div>
        <table class="table mt-2">
            <thead class="table-dark">
                <tr>
                    <th class="col-sm-1" scope="col">NÚMERO</th>
                    <th class="col-sm-1" scope="col">EMPRESA</th>
                    <th class="col-sm-2" scope="col">VALOR</th>
                    <th class="col-sm-1" scope="col">DATA</th>
                    <th class="col-sm-2" scope="col">NOME</th>
                    <th class="col-sm-1" scope="col">CPF</th>
                    <th class="col-sm-3" scope="col">DESCRIÇÃO</th>
                    <th class="col-sm-1" scope="col">VISUALIZAR</th>
                </tr>
            </thead>
            <tbody>

                {% for recibo in recibos %}
                    {% if recibo.usuario.id == current_user.id %}
                        <tr>
                            <th scope="row">{{ recibo.id }}</th>
                            <td> {{ recibo.empresa }} </td>
                            <td> {{ recibo.valor }} </td>
                            <td> {{ recibo.data.strftime('%d/%m/%Y') }} </td>
                            <td> {{ recibo.nome }} </td>
                            <td> {{ recibo.cpf }} </td>

                            <td>
                                <div class="accordion accordion-flush h-25" id="accordion{{ recibo.id }}">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-heading{{ recibo.id }}">
                                            <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#flush-collapse{{ recibo.id }}" aria-expanded="false"
                                                    aria-controls="flush-collapse{{ recibo.id }}"
                                                    style="margin: 0; padding: 0;">
                                                DESCRIÇÃO
                                            </button>
                                        </h2>
                                        <div id="flush-collapse{{ recibo.id }}" class="accordion-collapse collapse"
                                             aria-labelledby="flush-heading{{ recibo.id }}" data-bs-parent="#accordion{{ recibo.id }}">
                                            <div class="accordion-body">
                                                {{ recibo.descricao }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td style="text-align: center">
                                <button class="btn btn-light" style="text-decoration: none; margin: 0; padding: 0" id="view">
                                    <a href="{{ url_for('listarRecibo', recibo_id=recibo.id) }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                             class="bi bi-eye-fill" viewBox="0 0 16 16"
                                             style="width: 1.5rem; height: 1.5rem; text-decoration: none; margin: 0; padding: 0">
                                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                        </svg>
                                    </a>
                                </button>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}

            </tbody>
        </table>
    </div>

    <script>
        function orderRecibos(order) {
            window.location.href = `/listarRecibos?order=${order}`;
        }
    </script>

{% endblock %}
